<template>
  <div id="app">

    <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper light-blue accent-4">
        <a id="logo" href="#!" class="brand-logo">
         <!-- <img  src="./assets/logo1.jpg" width="200px" height="50px" alt="" srcset=""> -->
         Vgrow
        </a>
        <a href="#"  data-target="mobile" class="sidenav-trigger " ><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons medium left">home</i>Home</a></li>
          <li><a href="#"><i class="material-icons medium left">account_circle</i>Aboutus</a></li>
           <li><a href="#"><i class="material-icons medium left">contacts</i>Contactus</a></li>
          <li><a href="#"><i class="material-icons medium left">dashboard</i>register</a></li>
        </ul>
      </div>
    </nav>

 
  </div> <!--navbar fixed end -->
     <ul id="mobile" class="sidenav" >
       <li><a href="#"><i class="material-icons blue-text left">home</i>Home</a></li>
          <li><a href="#"><i class="material-icons blue-text left">account_circle</i>Aboutus</a></li>
           <li><a href="#"><i class="material-icons blue-text left">contacts</i>Forcontact</a></li>
          <li><a href="#"><i class="material-icons blue-text left">dashboard</i>register</a></li>
    </ul>

<div class="container">

 
  <div class="carousel carousel-slider center ">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>

</div>

  </div>

</template>

<script>
import M from 'materialize-css';

export default {
  mounted(){
 var elem = document.querySelector('.sidenav');
  var navigation = M.Sidenav.init(elem,{});

 var carousel = M.Carousel.init({
    fullWidth: true,
    indicators: true
  });

  },
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',

    }
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css");
.carousel.carousel-slider {
top: 0;
left: 0;
height: calc(80vh);
}
</style>
